<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <team-selector></team-selector>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <div class="hr-divider">
            <h3>Team Statistics</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <total-goals />
        </div>
        <div class="col-xs-4">
          <total-shots />
        </div>
        <div class="col-xs-4">
          <total-pims />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="hr-divider">
            <h3>Team Leaders</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <top-scorer />
        </div>
        <div class="col-xs-6">
          <top-points />
        </div>
      </div>
    </div>
  </div>
</div>
